body {
    background-color:#2C3E50;
}
svg {
    pointer-events: none;
}
.line-drawing {
    position: absolute;
    left:50%;
    top:50%;
    max-height: 100%;
    max-width: 100%;
    width:600px;
    height:600px;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
.illustration {
    position: absolute;
    top: 50%;
    left: 50%;
    max-height: 100%;
    max-width: 100%;
    width:600px;
    height:600px;
    opacity: 0;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
.show {
    opacity: 1;
}
.hide {
    opacity: 0;
}
.line-drawing, .illustration {
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}
.line-drawing path {
    fill: none;
    stroke: #ecf0f1;
    stroke-width: 1;
}
